{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Message</h1>

        {{ include('message/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('message_index', {'providerId': server.providerId}) }}">back to list</a>

        {{ include('message/_delete_form.html.twig') }}
    </div>

{% endblock %}
