{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex align-items-center">
            <h1>Messages for server {{ server.name }}</h1>
            <div class="ml-auto">
                <a href="{{ path('message_new', {'providerId': server.providerId}) }}" class="btn btn-primary">Create new</a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>ExecutionDate</th>
                <th>IsSent</th>
                <th>Channel</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for message in paginatedMessages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.content }}</td>
                    <td>{{ message.executionDate ? message.executionDate|format_datetime : '' }}</td>
                    <td>{{ message.isSent ? 'Yes' : 'No' }}</td>
                    <td>{{ message.channel }}</td>
                    <td>
                        <a href="{{ path('message_edit', {'providerId': message.server.providerId,'id': message.id}) }}" class="btn btn-sm btn-primary">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(paginatedMessages) }}
        </div>


    </div>
{% endblock %}
