{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Message</h1>

        {{ include('message/_form.html.twig') }}

        <a href="{{ path('message_index', {'providerId': server.providerId}) }}">back to list</a>
    </div>

{% endblock %}
