{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
            <tr>
                <th>ExecutionDate</th>
                <td>{{ message.executionDate ? message.executionDate|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ message.mode }}</td>
            </tr>
            <tr>
                <th>IsSent</th>
                <td>{{ message.isSent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Channel</th>
                <td>{{ message.channel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_index') }}">back to list</a>

    <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
