{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex position-relative overflow-hidden p-5 align-items-center justify-content-center flex-column flex-md-row text-center text-md-left">
        <img src="{{ asset('build/images/celeon.svg') }}" alt="Celeon" class="mb-4 banner-logo">
        <div class="ml-md-5">
            <h1 class="display-4 font-weight-normal">Celeon</h1>
            <p class="lead font-weight-normal my-4">Send scheduled message to Discord.</p>
            <a class="btn btn-outline-primary" href="{{ path('connect_discord_start') }}">Login with Discord</a>
        </div>
    </div>
    <div class="container mt-5">
        <section class="row">
            <div class="col-md-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque dolores fugiat impedit inventore libero maiores molestias, mollitia officia omnis perferendis placeat quaerat recusandae rem repellat sunt velit. Incidunt, quas?
            </div>
            <div class="col-md-6">

            </div>
        </section>
    </div>

{% endblock %}
