{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('message_new', {'providerId': server.providerId}) }}" class="btn btn-primary">Schedule message</a>
        <ul>
            {% for message in server.messages %}
                <li>{{ message.content }}</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
