{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h2 class="text-center mb-4">Configure Celeon for your server !</h2>
        <div class="row">
            {% for server in servers %}
                    <div class="col-md-3">
                        <div class="card">
                            {% if server.icon is not null %}
                                <img class="card-img-top" src="https://cdn.discordapp.com/icons/{{ server.id }}/{{ server.icon }}.png">
                            {% endif %}
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ server.name }}</h5>
                                <a href="{{ path('dashboard', {serverId: server.id}) }}" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
